*{
    margin: 0;
    padding: 0;
}

/* MODIFICATIONS FOR THE INDEX PAGE */

html {
    background-color: red;
}

.inner_header {
    background-color: yellow;
}

.header_buttons{
    font-size: 5vw;
    font-family:Franklin Gothic large;
    margin: 3px;
    padding: 0 1em; /*4em makes a circle :) */
    
    /* making the button */
    text-decoration: none;
    background-color: green;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.header_images {
    width: 100px;
}

h1 {
    background-color: yellow;
    margin: auto;
    width: 100%;
}

h2 {
    margin-top: 50px;
}

.flexbox-container {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.crop {
    width: 300px;
    border: 3px solid black;
}

.product_name {
    margin-top: 20px;
    font-size: 30px;
}

.rating {
    height: 60px;
    width: 150px;
    font-size: 30px;
    margin: 39px 20px 92px 20px;
    background-color: white;
    border: 3px solid black;
}

.toppings {
    height: 40px;
    width: 150px;
    font-size: 30px;
    margin: 20px;
    background-color: white;
    border: 3px solid black;    
}

.price {
    height: 60px;
    width: 150px;
    font-size: 25px;
    margin: 92.5px 20px 39px 20px;
    background-color: white;
    border: 3px solid black;    
}



/* MODIFICATIONS FOR MAP PAGE */

#map {
    margin-top: 10px;
}
/*
            function initMap() {
                var location = {lat: -25.363, lng: 131.044};
                var map = new google.maps.Map(document.getElementById(), {
                    zoom: 4, 
                    center: location
                });
            }
*/

/*
                <a href="menu.html">
                    <button class="header_links" style="background-color: green; color: red; border-radius: 20px">menu</button>
                </a>
                <a href="food.html">
                    <button class="header_links" style="background-color: green; color: red; border-radius: 20px">food</button>
                </a>
                <a href="drinks.html">
                    <button class="header_links" style="background-color: green; color: red; border-radius: 20px">drinks</button>
                </a>
                <a href="map.html">
                    <button class="header_links" style="background-color: green; color: red; border-radius: 20px">map</button>
                </a>
*/
