.about-me-card {
  width: 800px;

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.about-me-card ~ .right {
  flex-direction: row-reverse;
}

.about-me-image-left {
  border-radius: 45% 25% 66% 25%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
.about-me-image-right {
  border-radius: 25% 45% 25% 66%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.about-me-article-text {
  font-size: 20px;
}

.about-me-content-seperator {
  font-size: 50px;
  margin-bottom: 30px;
}

.about-me-history-carousel-container {
  border-radius: 0.5cm;
  width: 900px;
  height: 500px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.about-me-history-carousel-images {
  grid-area: 1/1;
  z-index: 1;
  overflow: hidden;
  width: 900px;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5cm;
}

.carousel-image-strip {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  border-radius: 0.5cm;
}

.carousel-image {
  min-width: 900px;
  height: 500px;
  object-fit: cover;
  border-radius: 0.5cm;
}

.about-me-history-cover {
  background-color: black;
  border-radius: 0.5cm;
  opacity: 0.5;

  grid-area: 1/1;
  z-index: 2;
}

.about-me-history-text-wrapper {
  grid-area: 1/1;
  z-index: 2;
  overflow: hidden;
}

.about-me-history-text-strip {
  display: flex;
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
  /* z-index: 1; */
}

.about-me-history-text-container {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
}

.about-me-history-text-h2 {
  font-size: 45px;
  margin-top: 45px;
  /* z-index: 4; */
}
.about-me-history-text {
  font-size: 20px;
  height: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 5; */
}

.carousel-left-button {
  grid-area: 1/1;

  z-index: 4;
  margin-top: 225px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.left-button {
  width: 100%;
  height: 100%;

  clip-path: polygon(60% 0, 60% 50%, 60% 100%, 0 50%);
  scale: 0.5;
  background-color: black;
}

.right-button {
  width: 100%;
  height: 100%;

  clip-path: polygon(40% 0, 100% 50%, 40% 100%, 40% 50%);
  scale: 0.5;
  background-color: black;
}

.carousel-right-button {
  grid-area: 1/1;

  z-index: 4;
  margin-top: 225px;
  margin-left: 840px;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.carousel-left-button:hover,
.carousel-right-button:hover {
  transition: 0.3s;
  background-color: grey;
  cursor: pointer;
}

.about-me-image-index-group {
  grid-area: 1/1;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5px;
  margin-bottom: 10px;
}

.about-me-image-index-dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  transition: 0.2s;
}

.about-me-image-index-dot:hover {
  background-color: grey;
  cursor: pointer;
}

.about-me-image-index-dot.active {
  width: 20px;
  height: 20px;
  background-color: grey;
}

/* Table View (width: 768px - 1089px) */
@media(min-width: 768px) and (max-width: 1089px) {
  .about-me-card {
    width: 600px;
  }
  .about-me-image-left {
    width: 250px;
  }
  .about-me-image-right {
    width: 250px;
  }
  .about-me-article-text {
    font-size: 17px;
  }
  .about-me-content-seperator {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .about-me-history-carousel-container {
    width: 660px;
    height: 425px;
  }
  .about-me-history-carousel-images {
    width: 660px;
    height: 425px;
  }
  .carousel-image {
    min-width: 660px;
    height: 425px;
  }
  .about-me-history-cover {
    width: 660px;
    height: 425px;
  }
  .about-me-history-text-wrapper {
    width: 660px;
    height: 425px;
  }
  .about-me-history-text-h2 {
    margin-top: 40px;
    font-size: 40px;
  }
  .about-me-history-text {
    font-size: 17px;
  }
  .carousel-left-button {
    margin-top: 187px;
    width: 50px;
    height: 50px;
  }
  .carousel-right-button {
    margin-top: 187px;
    margin-left: 600px;
  }
  .about-me-image-index-group {
    gap: 15px;
    margin-bottom: 20px;
  }
}

/* Large Mobile View (width: 481px - 767px) */
@media(min-width: 481px) and (max-width: 767px) {
  .about-me-card {
    width: auto;
    margin: 0 50px;
    gap: 20px;
  }
  .about-me-image-left {
    width: 200px;
    margin-bottom: 20px;
  }
  .about-me-image-right {
    width: 200px;
  }
  .about-me-article-text {
    font-size: 14px;
  }
  .about-me-content-seperator {
    font-size: 35px;
  }
  .about-me-history-carousel-container {
    width: 462px;
    height: 297px;
  }
  .about-me-history-carousel-images {
    width: 462px;
    height: 297px;
  }
  .carousel-image {
    min-width: 462px;
    height: 297px;
  }
  .about-me-history-cover {
    width: 462px;
    height: 297px;
  }
  .about-me-history-text-wrapper {
    width: 462px;
    height: 297px;
  }
  .about-me-history-text-h2 {
    margin-top: 30px;
    font-size: 30px;
  }
  .about-me-history-text {
    font-size: 14px;
    margin-bottom: 90px;
  }
  .carousel-left-button {
    margin-top: 128px;
    width: 40px;
    height: 40px;
  }
  .carousel-right-button {
    margin-top: 128px;
    margin-left: 412px;
    width: 40px;
    height: 40px;
  }
  .carousel-left-button:hover,
  .carousel-right-button:hover {
    background-color: white;
  }
  .about-me-image-index-group {
    gap: 15px;
    margin-bottom: 20px;
  }
  .about-me-image-index-dot {
    width: 20px;
    height: 20px;
  }
  .about-me-image-index-dot:hover {
    background-color: rgb(255, 255, 255);
  }
  .about-me-image-index-dot.active {
    width: 30px;
    height: 30px;
  }
}


/* Mobile View (width: 480px <=)*/
@media(max-width: 480px){
  .about-me-card {
    width: auto;
    margin: 0 50px;
    gap: 20px;
    flex-direction: column;
  }
  .about-me-card ~ .right {
    flex-direction: column;
  }
  .about-me-image-left {
    width: 150px;
  }
  .about-me-image-right {
    margin-top: 50px;
    width: 150px;
  }
  .about-me-article-text {
    font-size: 12px;
    text-align: center;
  }
  .about-me-content-seperator {
    font-size: 30px;
  }
  .about-me-history-carousel-container {
    width: 300px;
    height: 193px;
  }
  .about-me-history-carousel-images {
    width: 300px;
    height: 193px;
  }
  .carousel-image {
    min-width: 300px;
    height: 193px;
  }
  .about-me-history-cover {
    width: 300px;
    height: 193px;
  }
  .about-me-history-text-wrapper {
    width: 300px;
    height: 193px;
  }
  .about-me-history-text-h2 {
    margin-top: 25px;
    font-size: 25px;
  }
  .about-me-history-text {
    font-size: 12px;
    margin-bottom: 65px;
    padding: 0 60px;
  }
  .carousel-left-button {
    margin-top: 81px;
    width: 30px;
    height: 30px;
  }
  .carousel-right-button {
    margin-top: 81px;
    margin-left: 260px;
    width: 30px;
    height: 30px;
  }
  .carousel-left-button:hover,
  .carousel-right-button:hover {
    background-color: white;
  }
  .about-me-image-index-dot:hover {
    background-color: rgb(255, 255, 255);
  }
  .about-me-image-index-dot.active {
    width: 30px;
    height: 30px;
  }
}

