.app-container {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.homepage-container {
    display: flex;
    flex-direction: column;
}

.footer-container {
    background-color: rgb(0, 0, 0);
    height: 320px;
    color: white;

    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
}

.footer-content {
    padding-top: 15px;
    width: 100%;
}

.footer-list-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 200px;

    margin-bottom: 50px;
}

.footer-list-contact {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.footer-list-h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-bottom: 1px solid white;
    padding: 0 35px 0 35px;
    margin-bottom: 15px;
}

.footer-fit-content {
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
}

.footer-p {
    color: rgb(160, 160, 160)
}

.footer-list-find-us {
    width: 300px;
}

.map {
    color: rgb(113, 175, 255);
}

.footer-day-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-day {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    font-size: 11px;
}