/* .menu-container {} */
:root {
    /* Desktop View */
    --menu-width: 650px;
    --order-width: 1000px;
    --back-button-margin-space: 10px;
    --order-card-size: 300px;
    --order-card-gap: 50px;
    --order-font-size: 60px;
    --order-scale-size: scale(1.10);
    --order-hover-opacity: 0.70;
}

/* Desktop View (width: 1090px - 1440px) */

.custome-order-container {
    width: var(--menu-width);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-h2 {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;

}

.menu-price-container {
    border: 3px solid black;
    border-radius: 0.25cm;
    padding: 20px;
}

.menu-h3 {
    border-bottom: 3px solid black;
    font-size: 25px;
    font-weight: bold;
}

.menu-price {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.menu-order-numbers-container {
    width: var(--order-width);
    margin-top: 40px;
}

.menu-order-numbers-inner-container {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: var(--order-card-gap);
}

.menu-order-card {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    border-radius: 0.25cm;
    text-decoration: none;
    margin: none;
    padding: none;

    overflow: hidden;

    transition: 0.5s;
}

.menu-order-card-image {
    width: var(--order-card-size);
    height: var(--order-card-size);
    grid-area: 1/1;
    z-index: 1;

    border-radius: 0.25cm;
}

.menu-order-card-background {
    grid-area: 1/1;
    z-index: 2;

    background-color: black;
    opacity: 0.5;
    border-radius: 0.25cm;

    transition: 0.5s;
}

.menu-order-card-title {
    grid-area: 1/1;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    rotate: -15deg;
    text-align: center;

    width: 80%;
    height: 80%;
    font-size: var(--order-font-size);
    margin: auto;
}

.menu-order-card:hover {
    transition: 0.5s;
    
    transform: var(--order-scale-size);
    cursor: pointer;
}

.menu-order-card:hover .menu-order-card-background {
    transition: 0.5s;
    opacity: var(--order-hover-opacity);
}

.menu-h2-order-description {
    margin-top: -20px;
    text-align: center;
}

.back-button {
    width: 50px;
    height: 50px;

    text-decoration: none;
    border-radius: 0.25cm;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
}

.back-button.top {
    margin-bottom: var(--back-button-margin-space);
}

.back-button.bottom {
    margin-top: var(--back-button-margin-space);
}

.back-button-arrow {
    width: 35%;
    height: 45%;
    background-color: red;

    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 50%);

    transition: 0.5s;
}

.back-button:hover .back-button-arrow {
    transition: 0.5s;
    transform: scale(1.5);
}

.back-button:hover {
    transition: 0.5s;
    background-color: rgb(218, 218, 218);
}

.menu-drinks-header {
    margin-top: 15px;
}

/* Table View (width: 768px - 1089px) */
@media(min-width: 768px) and (max-width: 1089px) {
    :root {
        --menu-width: 450px;
        --order-width: 750px;
        --back-button-margin-space: 35px;
        --order-card-size: 300px;
        --order-card-gap: 30px;
        --order-font-size: 50px;
        --order-scale-size: scale(1.0);
        --order-hover-opacity: 0.5;
    }
}

/* Large Mobile View (width: 481px - 767px) */
@media(min-width: 481px) and (max-width: 767px) {
    :root {
        --menu-width: 450px;
        --order-width: 450px;
        --back-button-margin-space: 25px;
        --order-card-size: 400px;
        --order-card-gap: 15px;
        --order-font-size: 50px;
        --order-scale-size: scale(1.0);
        --order-hover-opacity: 0.5;
    }
}


/* Mobile View (width: 480px <=)*/
@media(max-width: 480px){
    :root {
        --menu-width: 280px;
        --order-width: 280px;
        --back-button-margin-space: 20px;
        --order-card-size: 120px;
        --order-card-gap: 5px;
        --order-font-size: 20px;
        --order-scale-size: scale(1.0);
        --order-hover-opacity: 0.5;
    }
}
