.page-not-found-container {
    text-align: center;
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-not-found-image {
    margin: 35px 0 35px 0;
    border-radius: 50%;
    box-shadow: -5px 5px 10px rgba(0,0,0, 0.75);
}

.page-not-found-h1 {
    font-size: 100px;
    font-weight: bold;
}

.page-not-found-p {
    font-size: 16px;
    padding: 0 20px;
}

.page-not-found-separator {
    border-bottom: 1px solid black;
    width: 600px;
    margin: 20px 0;
}

.page-not-found-quick-links a {
    text-decoration: none;
    color: rgb(0, 119, 255);
}

.page-not-found-quick-links {
    font-size: 16px;
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

/* Table View (width: 768px - 1089px) */
@media(min-width: 768px) and (max-width: 1089px) {
    .page-not-found-image {
        width: 300px;
        height: 300px;
    }
    .page-not-found-h1 {
        font-size: 90px;
    }
    .page-not-found-p {
        font-size: 15px;
        width: 350px;
    }
    .page-not-found-quick-links {
        font-size: 15px;
    }
    .page-not-found-separator {
        width: 450px;
    }
}

/* Large Mobile View (width: 481px - 767px) */
@media(min-width: 481px) and (max-width: 767px) {
    .page-not-found-image {
        width: 250px;
        height: 250px;
    }
    .page-not-found-h1 {
        font-size: 80px;
    }
    .page-not-found-p {
        font-size: 14px;
        width: 250px;
    }
    .page-not-found-quick-links {
        font-size: 20px;
        gap: 20px;
        flex-direction: column;
    }
    .page-not-found-separator {
        width: 350px;
    }
}


/* Mobile View (width: 480px <=)*/
@media(max-width: 480px){
    .page-not-found-image {
        width: 200px;
        height: 200px;
    }
    .page-not-found-h1 {
        font-size: 70px;
    }
    .page-not-found-p {
        font-size: 13px;
        width: 200px;
    }
    .page-not-found-quick-links {
        font-size: 20px;
        gap: 25px;
        flex-direction: column;
    }
    .page-not-found-separator {
        width: 250px;
    }
}
