.about-me-card {
    /* border: 1px solid red; */

    width: 800px;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;

    border-radius: 1rem;

}

.about-me-image-left {
    border-radius: 45% 25% 66% 25%;
    border-bottom: 5px solid rgba(0,0,0, 0.5);
}
.about-me-image-right {
    border-radius: 25% 45% 25% 66%;
    border-bottom: 5px solid rgba(0,0,0, 0.5);
}


.about-me-article-container {
    /* border: 1px solid blue; */
}

.about-me-article-text {
    font-size: 20px;
}

.about-me-content-seperator {
    font-size: 50px;
    margin-bottom: 30px;
}

.about-me-history-carousel-container {

    border-radius: 0.5cm;
    width: 600px;
    height: 400px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.about-me-history-carousel-images {
    /* width: 500px; */
    grid-area: 1/1;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-history-carousel-images img {
    border: 3px solid black;
    border-radius: 0.5cm;
}

.about-me-history-cover {
    background-color: black;
    border-radius: 0.5cm;
    opacity: 0.35;

    grid-area: 1/1;
    z-index: 2;
}

.about-me-history-text {
    grid-area: 1/1;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 20px;
}

.carousel-left-button {
    grid-area: 1/1;

    z-index: 4;
    margin-top: 175px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.left-button {
    width: 50px;
    height: 50px;

    clip-path: polygon(60% 0, 50% 50%, 60% 100%, 0 50%);
    scale: 0.5;
    background-color: black;
}

.right-button {
    width: 50px;
    height: 50px;

    /* clip-path: polygon(60% 0, 50% 50%, 60% 100%, 0 50%); */
    clip-path: polygon(40% 0, 100% 50%, 40% 100%, 50% 50%);
    scale: 0.5;
    background-color: black;
}


.carousel-right-button {
    grid-area: 1/1;

    z-index: 4;
    margin-top: 175px;
    margin-left: 540px;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.carousel-left-button:hover,
.carousel-right-button:hover {
    transition: 0.3s;
    background-color: grey;
    cursor: pointer;
}

.about-me-image-index-group {
  grid-area: 1/1;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5px;
  margin-bottom: 10px;
}

.about-me-image-index-dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  transition: 0.2s;
}

.about-me-image-index-dot:hover {
  background-color: grey;
  cursor: pointer;
}

.about-me-image-index-dot.active {
  width: 20px;
  height: 20px;
  background-color: grey;
}
