:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

body {
  margin: 0;
}
html {
  background-color: rgb(245, 178, 101);
  font-family: cursive;
}

.menu-container,
.order-one-conatiner,
.location-container,
.about-us-container,
.contact-us-container {
    margin-top: 100px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-container > div:first-child,
.location-container > div:first-child,
.about-us-container > div:first-child,
.contact-us-container > div:first-child {
  font-size: 50px;
  margin-bottom: 25px;
  padding: 0 50px 0 50px;
  border-bottom: 5px dotted black;
}